APP_NAME=Nura

APP_ENV=development

SECRET_KEY=

JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

FRONTEND_URL=

API_V1_PREFIX=/api/v1

LOG_LEVEL=INFO


QDRANT_URL=
QDRANT_API_KEY=

CLUSTER_ID=


MONGODB_URL=
MONGODB_DATABASE=


GROQ_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

